@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ProjectManagement</h1>
    <p class="lead">
      ProjectManagement is a web platform to help you to organize your projects.
    </p>

</div>

<div class="row">

    <div class="col-md-4">
        <h3> Future implementation - Statistics </h3>
        <p>
            Statistics gives you an overview of the quantity of projects, tasks and the status of the tasks.
        </p>

    </div>
    <div class="col-md-4">
        <h3>Get the list of tasks</h3>
        <p>Tasks gives you the general list of tasks with detailed information, namely the task description, the status...</p>
    </div>
    <div class="col-md-4">
        <h3>Set more employes, projects and status</h3>
        <p>Place where you can add/update/delete more people and more tasks.</p>
    </div>
</div>